.vscode
.nox

.mypy_cache
.pytest_cache

/.coverage
/coverage-html
/coverage.xml

/docs/_build

/.eggs
/build
/dist
/examples/*/build
/examples/*/dist

/drover/__metadata__.py

__pycache__
*.py[cdo]
*.egg-info
